{% extends "template.html" %}

{% block title %}
 Friends List
{% endblock %}

{% block content %}
    {% if steam_id %}
        <h2>Following</h2>
        <ul>
        {% for friend in following %}
                <li>
                    <img src="{{ friend.avatar }}" alt="Avatar" style="width: 32px; height: 32px; vertical-align: middle; margin-right: 8px;">
                    {{ friend.personaname }}
                    <form action="/unfollow/{{ friend.steamid }}" method="post" style="display: inline;">
                        <button type="submit">Unfollow</button>
                    </form>
                </li>
        {% endfor %}
        </ul>

        <h2>Not Following</h2>
        <ul>
        {% for friend in not_following %}
                <li>
                    <img src="{{ friend.avatar }}" alt="Avatar" style="width: 32px; height: 32px; vertical-align: middle; margin-right: 8px;">
                    {{ friend.personaname }}
                    <form action="/follow/{{ friend.steamid }}" method="post" style="display: inline;">
                        <button type="submit">Follow</button>
                    </form>
                </li>
        {% endfor %}
        </ul>
    {% else %}
        <h2>Please log in to see your friends list.</h2>
        <p class="container">
            <span><a href="/auth/login" ">Log In</a></span>
        </p>        
    {% endif %}
{% endblock %}