{% extends "template.html" %}

{% block title %}
 Friends List
{% endblock %}

{% block content %}
    {% if steam_id %}
        <h2>Following</h2>
        <ul class="friend-list">
        {% for friend in following %}
            <li class="friend-item">
                <div class="friend-info">
                    <img src="{{ friend.avatar }}" alt="Avatar">
                    <span>{{ friend.personaname }}</span>
                </div>
                <form action="/unfollow/{{ friend.steamid }}" method="post" style="display: inline;">
                    <button type="submit" class="unfollow">Unfollow</button>
                </form>
            </li>
        {% else %}
            <div class="info-box">
                <p>You are not following any friends yet. Find them in the list below!</p>
            </div>
        {% endfor %}
        </ul>

        <h2>Not Following</h2>
        <ul class="friend-list">
        {% for friend in not_following %}
            <li class="friend-item">
                <div class="friend-info">
                    <img src="{{ friend.avatar }}" alt="Avatar">
                    <span>{{ friend.personaname }}</span>
                </div>
                <form action="/follow/{{ friend.steamid }}" method="post" style="display: inline;">
                    <button type="submit">Follow</button>
                </form>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <h2>Login to start following your friends.</h2>
        <p>
            <a href="/auth/login" class="button">Log In</a>
        </p>        
    {% endif %}
{% endblock %}